body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
#header {
   background: #1D242E;  
   
   position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 100%; /* Full width */
   z-index: 5;
}

.wrapper {
    position: relative;
    max-width: 1024px;   
    margin: 0 auto ;
}

#logo {
    height: 45px;
}

#header ul {
    color: #fff;   
    display: inline;
    margin: 0px;
    padding: 0px;
}

#header ul li {
    display: inline-block;
    padding: 0px 15px;
}

#daftar {
    position: absolute;
    right: 0px;
}

.centerVertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
div#title {
    width: 100%;    
    padding-top: 30px;
    padding-bottom: 35px;
}

#partner{
    padding: 15px 0px; 
  }
  .imgPartner{
    height: 36px;
  }

  .floatLeft{
    float: left;
    width: 48%;
    padding: 1%;
    display: inline-block;
    padding-top: 100px;
  }
  .floatRight{
    float: right;
    width: 48%;
    padding: 1%;
    display: inline-block;
    padding-top: 150px;
  }

  #about .wrapper {
    display: table;
  }

  #portofolio .wrapper {
    display: table;
  }

  #maps{
    padding: 15px 0px;
  }

  #contact{
    background: #1F242D;
  }
  form{
    padding: 15px 0px;
    text-align: center;
    color: #F9FBFA;
    
       
     
  }

  .blocking{
    display: inline;    
    margin: 10px
  }

 /* unvisited link */
a:link {
    color: #fff;
    text-decoration: none;
}

/* visited link */
a:visited {
    color:#fff;
}

/* mouse over link */
a:hover {
    color: #68ACDC;
}

/* selected link */
a:active {
    color:#55BFC7;
}

.imgP {
	width: 30%;
	float: left;
    margin: 1.66%;
   
}


.ps{
	 
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 1000;	 
 
	width: 100%;
    padding-bottom: 20px;
    text-align: center;
    
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#portofolio  {
    padding-top: 1px;
    background: #f1f1f1;
}

    
 
 